<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="LiteXConnection" connectionString="Server=192.168.1.226; port=3306; Database=PMERP; uid=root; pwd=bdf!2018; Convert Zero Datetime=True;"/>
  </connectionStrings>
</configuration>